@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=El+Messiri:wght@500;600;700&family=Orbitron:wght@900&family=Poppins:wght@400;600&family=Teko:wght@500;600;700&display=swap');
*{
    box-sizing: border-box;
    --main-color :  #212529 ;
}
body{
    background:#212529;
    margin: 0px;
    padding: 0px;
    font-family: 'El Messiri', sans-serif;
}

/* Add styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color:var(--main-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    color: white;
}
.modal-text{
    text-align: center;
}
.modal-text a{
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.whatsapp-container{
    position: fixed;
    bottom: 20px; /* Adjust this value as needed to control the vertical placement */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.whatsapp-container .phone{
    background-color: #020b38;
    padding: 10px;
    font-size: 2rem;
    margin: 0 10px;
    border-radius: 12px;
    z-index: 99;
}
.whatsapp-container .whatsapp{
    background-color: #08d808;
    padding: 10px;
    font-size: 2rem;
    margin: 0 10px;
    border-radius: 12px;
    z-index: 99;
}
.whatsapp i{
    color: white;
    
}



/* nav bar container */
.nav-container{
    background-image: url(./img/horse.jpg);
    background-size: cover ;
    background-repeat : no-repeat;
    background-position: center top;
    height: 100vh;
}

.nav-container nav{
    position: fixed;
    width: 100%;
}
.navbar.scrolled {
    z-index: 9;
    background-color: var(--main-color); /* Change this color to the desired color */
    transition: background-color 1s ease; /* Add a smooth transition */
    .nav-item a{
        color: white !important;
    }
}
.navbar-toggler{
    background-color: wheat;
} 
.container-fluid .collapse {
    direction: rtl;

}
.nav-container nav li{
    padding: 0px 10px;
    transition: border 2s ease;
}
.active{
    border-bottom: 1px solid rebeccapurple;  
}
.nav-container nav li:hover{
    border-bottom: 1px solid white;
}

.dropdown .dropdown-menu{
    background-color: #1b1e20;
}
nav .logo-png img{
    height: 15vh;
}
.dropdown-menu .dropdown-item{
    color: #9E9E9E  !important;
}

/* intro nav-container */
.nav-container .intro{
    padding: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    animation: scale 3s ;
}
.nav-container .intro h1{
    font-size: 5rem;
}
.nav-container .intro p{
        font-size: 1.3rem;
    font-weight: 900;
}
.nav-container .intro button a{
    color: white;
}


/* about us */

.about-container{
    background-color: currentcolor;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: grid;
    grid-template-columns:  repeat(2 , 1fr);
    padding: 30px;
    align-items: center;
    border-radius: 20px;
}
.about-container img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    animation: trans-X 3s ease;
    transition: all 2s;
}
.about-container .about-items{
    display: flex;
    flex-direction: column;
    padding: 50px;
    animation: transX 3s ease;
    transition: all 2s;
    text-align: center;
}
.about-container .about-items p {
    color: white;
    line-height: 2.5;
    font-size: 1.2rem;
    text-align: justify;
}
.about-container .about-items h1{
    color: white;
}
.about-items button a{
    color: white;
}


.container2{
    height: 120vh ;
}

/* container 3  */
.container3{
    padding: 15px 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    animation: transX 2s ease;
}
.container3 .item {
    background-color: #14171a;
    padding: 30px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    animation: opacity 4s ;
}
.container3 .item p {
    margin-left:.4em ;
    color:#fff!important;
    transition: all ease-in-out  0s, transform linear 0.9s;
    margin: 2px 14px ;

}
.container3 .item:hover{
    background-color: #191d21;
}

.item i{
    font-size: xx-large;
    color: white;
}

/* vedio container */
.video-container{
    position: relative;
    padding-top: 40px;
}
.video-container .vedio-item{
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: #212529c2;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.video-container .vedio-item p{
    padding: 20px 150px 20px 20px;
    color: white;
    font-size: 3rem;
}

.video-container .vedio-item button a{
    color: white;
    padding: 2rem;
    font-size: 3rem;
}

.video-container video{
    width: 100%;
    filter: brightness(0.5);
}

/* container 5 */
/*   container5  */

.container5{
    padding: 100px 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat( 3 , 1fr);
    gap: 40px;
    overflow: none;
    transition: all 2s ease ;
    animation: motionY 2s;
}
 .card-item{
    text-align: center;
    box-shadow: 2px 2px 12px 4px #8ac5cd;
    overflow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        color: white;

}

 .card-item p{
    transition: all 3s ease ;
}
#paragraph , #paragraph1 , #paragraph2 {
    display: none;
}


 .card-item i {
    font-size:3rem ;
    padding: 1rem;
    color: white;
}

 .card-item button{
    width: 100%;
    padding: 10px;
    border-radius: 3px;    
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: rgb(2 11 56);
    outline: none;
    border: none;
}
.card-item a {
    color: white;
    text-decoration: none;
    outline: none;
}
 .card-item button:hover{
    cursor: pointer;
    background-color: rgb(0 41 247);

}
 .card-item button:hover i {
    color: blue !important;
}

/* container 6 */

.container6{
    margin: 20px 43px;
    background: #16163F;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    justify-content: space-between;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    transition: all 2s ease ;
    animation: motionX 2s;
}
.container6 .element{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2.5rem;
}
.container6 button{
    border-bottom-left-radius: 30px;
    border: none;
    outline: none;
}

/* container7 */

.container7{
    padding: 100px 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.container7 .steps{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    justify-items: center;
    justify-content: space-evenly;
    align-items: start;
    gap: 10px;
}
.container7 h1{
    padding: 1rem 0 4rem;
}
.steps .card-item{
height: 345px;
justify-content: space-around !important;
animation: scale 3s ;
}
.steps .card-item p{
    background-color: #16163f;
    color: white;
    padding: 15px;
}
.steps .card-item i{
    font-size: 3rem;
    padding: 2rem;
    color: #3F51B5;
}

/* container map */
.container-map{
    color: white;
    text-align: center;
}
.container-map h1{
    padding-bottom: 15px;
}

/* more-container */
.more-container {
    padding: 100px 50px;
}

.more-container .more1 {
    position: relative; /* Add position: relative */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #141618;
    color: white;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 60vh;
}
.more1 img{
    filter: brightness(.5) !important;
}

/* Add a pseudo-element for the background overlay */
.more-container .more1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the color and opacity */
    opacity: 0; /* Initial opacity */
    transition: opacity 0.5s; /* Add transition */
    pointer-events: none; /* Allow interactions with elements beneath */
}

.more-container .more1:hover .more-details {
    z-index: 1; /* Bring .more-details to the top */
    display: flex ;
}

/* Apply the transform animation to paragraphs within .more-details when hovering over .more1 */
.more-container .more1:hover .more-details p {
    transform: translateY(0);
    opacity: 1;
}

.more1 h2 {
    background-color: #4a137d;
    width: 100%;
    padding: 15px;
    color: white;
    text-align: center;
    padding: 5px;
}

.more-container .more1 .more-details {
    display: none;
    align-items: center;
    flex-direction: row-reverse;
    position: relative; /* Add position: relative */
    z-index: 2; /* Initially behind the overlay */
    background-color: #212529;
    animation: trans-more 2s;
    transition: all 2s ease;
}

.more-details2 {
    padding: 20px;
}

.more-container .more1 .more-details p {
    text-align: center;
    font-size: 1.5rem;
    animation: trans-more 2s;
    transition: all 2s ease;
    width: 100%;
    height: 100%;
    transform: translateY(39rem);
    opacity: 0;
}

.more-container .more1 .more-details img {
    overflow: hidden;
    width: 100%;
}

@keyframes trans-more {
    0% {
        transform: translateY(39rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.more-left {
    flex-direction: row !important;
}
.more-img1{
    background-image: url(./img/carry1.jpg) !important;
}
.more-img3{
    background-image: url(./img/carry2.jpg) !important;
}
.more-img2{
    background-image: url(./img/carry3.jpg) !important;
}
.more-img4{
    background-image: url(./img/carry4.webp) !important;
}
.more-img5{
    background-image: url(./img/carry6.webp) !important;
}


/* footer */
footer {
    padding: 50px;
    background: #16163f;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: start;
    text-align: center;
}
footer .information .info-item{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    animation: motionX 3s ;
    justify-content: flex-start;
}

footer .information .info-item i {
text-align: center;
padding: 2px 10px;

}

footer .links{
    display: flex;
    flex-direction: column;
}

footer .details-footer a{
    padding: 5px 10px;
}



/* media */

@media (max-width : 768px) {

    /* navbar media */
    .nav-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(./img/intro.avif);
        filter: blur(161px);
    }

    /* about-container */
    .about-container{
        grid-template-columns:  repeat(1, 1fr);
    }
    .about-container p{
        display: none;
    }

    /* container2 */
    .container2{
        height: 95vh;
    }
    /* container3 */
    .container3{
        flex-direction: column;
    }
    .container3 .item{
        margin: 10px;
    }
    /* vedio */
    .video-container .vedio-item p{
    padding: 10px;
    font-size: 1rem;
    }
    .video-container .vedio-item button a{
    color: white;
    padding: 1rem;
    font-size: 1rem;
    }

    /* container 5 */
    .container5{
        grid-template-columns: auto;
    }
    /* container 6 */
    .container6{
        flex-direction: column;
    }
    .container6 button{
        padding: 25px;
    }

    /* container7 */
    .container7 .steps{
        grid-template-columns: 1fr;
    }
    .container7 h1{
        text-align: center;
    }

    /* more information */
    .more-container .more1 .more-details p {
        font-size: 1rem;
    }
    
    /* footer */
    footer{
        grid-template-columns: 1fr;
    }
    footer .links{
        margin: 35px 0px;
    }
}

/* animation */

@keyframes scale {
    0%{
        scale: .5;
    }
    100%{
        scale: 1;
    }
}
@keyframes transX {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes trans-X {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}


/* service html */

.service{
    padding: 70px 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.service .service-items{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px 0;
    font-size: 2rem;   
    gap: 25px;
    animation: opacity 3s , motionX 3s;
    color: white;

}
.service .service-items .service-item i{
    font-size: 4rem;
    color: lawngreen;
}

@media (max-width : 786px) {
    .service .service-items{
        grid-template-columns: auto auto ;
    }
}

/* contact html */
/* contact us */

.contact-us{
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

.form{
        display: flex;
    flex-direction: column;
    padding: 20px 100px;
    text-align: center;
}
.form input , .form textarea , .form button{
    margin: 5px;
    outline: none;
}
.form input , .form textarea {
        border: none;
    border-radius: 7px;
    padding: 4px 15px;
}
.form .message{
        width: 100%;
    display: flex;
    justify-content: space-between;
}
.form .message input{
    width: 100%;
}




@media (max-width:786px) {
    .contact-us{
        padding: 100px 20px 0;
        text-align: center;
        flex-direction: column;
    }
    .form{
        padding: 20px 0px;
    }
}

/* media html */

/* media */


.media-img{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
.media .media-item{
    margin: 15px;
    box-shadow: 1px 1px 5px 0px #020b38 ;
    overflow: hidden;
}
.media-img img{
    width: 100%;
    height: 100%;
    transition: all 4s ease;
}

.media .media-item:hover img{
    scale: 1.5;
}
.media .media-item{
    border-radius: 20px ;
}

@media (max-width : 768px) {
    .media-img{
        grid-template-columns: repeat(2 , 1fr);
    }
}
