@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=El+Messiri:wght@500;600;700&family=Orbitron:wght@900&family=Poppins:wght@400;600&family=Teko:wght@500;600;700&display=swap');
*{
    box-sizing: border-box;
    --main-color :  #212529 ;
}
body{
    background:#212529;
    margin: 0px;
    padding: 0px;
    font-family: 'El Messiri', sans-serif;
    height: 10000px;
}



/* nav bar container */
.nav-container{
    background-image: url(./img/intro.avif);
    background-size: cover ;
    background-repeat : no-repeat;
    background-position: center top;
    height: 100vh;
}

.nav-container nav{
    position: fixed;
    width: 100%;
}
.navbar.scrolled {
    z-index: 9;
    background-color: var(--main-color); /* Change this color to the desired color */
    transition: background-color 1s ease; /* Add a smooth transition */
    .nav-item a{
        color: white !important;
    }
}
.navbar-toggler{
    background-color: wheat;
} 
.container-fluid .collapse {
    direction: rtl;

}
.nav-container nav li{
    padding: 0px 10px;
}
.dropdown .dropdown-menu{
    background-color: #1b1e20;
}
nav .logo-png img{
    height: 15vh;
}
.dropdown-menu .dropdown-item{
    color: #9E9E9E  !important;
}

/* intro nav-container */
.nav-container .intro{
    padding: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    animation: scale 3s ;
}
.nav-container .intro h1{
    font-size: 5rem;
}
.nav-container .intro p{
        font-size: 1.3rem;
    font-weight: 900;
}
.nav-container .intro button a{
    color: white;
}


/* about us */

.about-container{
    background-color: currentcolor;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: grid;
    grid-template-columns:  repeat(2 , 1fr);
    padding: 30px;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}
.about-container img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    animation: trans-X 3s ease;
    transition: all 2s;
}
.about-container .about-items{
    display: flex;
    flex-direction: column;
    padding: 50px;
    animation: transX 3s ease;
    transition: all 2s;
    text-align: center;
}
.about-container .about-items p {
    color: white;
    line-height: 2.5;
    font-size: 1.2rem;
    text-align: justify;
}
.about-container .about-items h1{
    color: white;
}
.about-items button a{
    color: white;
}


.container2{
    height: 95vh ;
}

/* container 3  */
.container3{
    padding: 15px 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    animation: transX 2s ease;
}
.container3 .item {
    background-color: #14171a;
    padding: 30px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    animation: opacity 4s ;
}
.container3 .item p {
    margin-left:.4em ;
    color:#fff!important;
    transition: all ease-in-out  0s, transform linear 0.9s;
    margin: 2px 14px ;

}
.container3 .item:hover{
    background-color: #191d21;
}

.item i{
    font-size: xx-large;
    color: white;
}

/* vedio container */
.video-container{
    position: relative;
    padding-top: 40px;
}
.video-container .vedio-item{
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: #212529c2;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.video-container .vedio-item p{
    padding: 20px 150px 20px 20px;
    color: white;
    font-size: 3rem;
}

.video-container .vedio-item button a{
    color: white;
    padding: 2rem;
    font-size: 3rem;
}

.video-container video{
    width: 100%;
    filter: brightness(0.5);
}

/* container 5 */
/*   container5  */

.container5{
    padding: 100px 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat( 3 , 1fr);
    gap: 40px;
    overflow: none;
    transition: all 2s ease ;
    animation: motionY 2s;
}
 .card-item{
    text-align: center;
    box-shadow: 2px 2px 12px 4px #8ac5cd;
    overflow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        color: white;

}

 .card-item p{
    transition: all 3s ease ;
}
#paragraph , #paragraph1 , #paragraph2 {
    display: none;
}


 .card-item i {
    font-size:3rem ;
    padding: 1rem;
    color: white;
}

 .card-item button{
    width: 100%;
    padding: 10px;
    border-radius: 3px;    
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: rgb(2 11 56);
    outline: none;
    border: none;
}
.card-item a {
    color: white;
    text-decoration: none;
    outline: none;
}
 .card-item button:hover{
    cursor: pointer;
    background-color: rgb(0 41 247);

}
 .card-item button:hover i {
    color: blue !important;
}



/* media */

@media (max-width : 768px) {

    /* navbar media */
    .nav-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(./img/intro.avif);
        filter: blur(161px);
    }

    /* about-container */
    .about-container{
        grid-template-columns:  repeat(1, 1fr);
    }
    .about-container p{
        display: none;
    }
    /* container3 */
    .container3{
        flex-direction: column;
    }
    .container3 .item{
        margin: 10px;
    }
    /* vedio */
    .video-container .vedio-item p{
    padding: 10px;
    font-size: 1rem;
    }
    .video-container .vedio-item button a{
    color: white;
    padding: 1rem;
    font-size: 1rem;
    }

    /* container 5 */
    .container5{
        grid-template-columns: auto;
    }
}

/* animation */

@keyframes scale {
    0%{
        scale: .5;
    }
    100%{
        scale: 1;
    }
}
@keyframes transX {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes trans-X {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
